modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80
